* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(58, 204, 204);
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav.navbar {
  background-color: #fff;
  box-shadow: 0px 15px 10px -15px #111;
}

div.container {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 100px;
  box-shadow: 1px 0px 18px 4px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 1px 0px 18px 4px rgba(0, 0̥, 0, 0.53);
}

div.container h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.container button {
  outline: none;
  margin-top: 10px;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  border: 2px solid rgb(255, 0, 98);
  color: rgb(255, 0, 98);
  background-color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

div.container button:hover,
div.container button:active {
  color: white;
  border: 2px solid #fff;
  background-color: rgb(255, 0, 98);
}

nav.navbar ul.navbar-nav li.nav-item a.activeLink {
  color: #f64f59;
}

div.col-10 .stats {
  background-color: rgb(170, 170, 170);
  margin-left: 20px;
}

h1.new {
  color: #fff;
  margin-top: 30px;
  margin-bottom: -30px;
}

h6.news{
  margin-bottom: -40px;
}